.advantages {
  padding-top: 50px;
  padding-bottom: 60px;
}

.advantages__list {
  .resetList();
  text-align: center;
}

.advantage-item__type {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}

.advantage-item {
  margin: 0 auto;
  width: 52px;
  height: 56px;
  background-size: 56px 52px;
  background-repeat: no-repeat;
  background-position: center;

  &--speed {
    background-image: url("../../img/icon/watch.svg");
  }

  &--shield {
    background-image: url("../../img/icon/shield.svg");
  }

  &--energy {
    background-image: url("../../img/icon/lightning.svg");
  }

  &--eco {
    background-image: url("../../img/icon/leaf.svg");
  }
}
