.filter-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    overflow: hidden;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.filter__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  @media (min-width: @tablet-width) {
    margin-bottom: 3px;
  }
}

.filter__switch-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label {
    margin-right: 10px;
  }

  span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

.filter__button {
  width: 160px;
  height: 45px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 25px;
  line-height: 24px;
  text-align: center;

  &--reset {
    margin-bottom: 40px;
    color: @base-primary;
    background-color: @base-white;
    border: @base-white;
  }

  &--submit {
    @media (min-width: @tablet-width) {
      margin-right: 35px;
    }
  }
}

.filter__range {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-basis: 355px;
    margin: 0 auto;
    padding-top: 25px;
  }
}
