input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.filter-price__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.filter-price__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-price__input {
  width: 118px;
  height: 38px;
  border: 2px solid @primary-lighter;
  border-radius: 4px;
  text-align: center;
}
